.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.icon {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.mathicon{
  height: 8vmin;
  pointer-events: none;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.accountDiv{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  width: 20%;
  padding: 50px 0;
  border: 3px black;
border-radius: 130px 122px 122px 122px;
-moz-border-radius: 130px 122px 122px 122px;
-webkit-border-radius: 130px 122px 122px 122px;
border: 10px double #000000;
text-align: center;
}
*/